EXPO_PUBLIC_APP_ENV=production

# API
EXPO_PUBLIC_API_URL=https://arisan-api.vercel.app

# Supabase
EXPO_PUBLIC_SUPABASE_URL=https://<project>.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=<supabase-anon-key>

# App Links
EXPO_PUBLIC_PRIVACY_POLICY_URL=https://arisan.app/privacy
EXPO_PUBLIC_SUPPORT_WA=62xxxxxxxxxx
EXPO_PUBLIC_PLAYSTORE_URL=https://play.google.com/store/apps/details?id=com.ruhaparelstudio.arisan
